body, html {
  color: rgb(38, 39, 45);
  margin: 0;
  padding: 0;
  font-family: "LatoRegular", sans-serif;
  font-size: 16px;
}
.main-button {
  border-radius: 30px;
}
.block-headers {
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/iphone.png') 50% 100% no-repeat,
              url('../img/header.png') no-repeat;
  background-size: auto, cover;
  height: 1000px;
}
.menu {
  display: flex;
  width: 1200px;
  height: 140px;
  justify-content: space-between;
  align-items: center;
}
.menu-link,
.menu-link-getapp,
.menu-link-help,
.menu-link-sandwich {
  text-decoration: none;
  color: rgb(38, 39, 45);
  padding: 10px 15px;
}
.menu-link-getapp {
  background-color: #267df4;
  color: #fff;
  font-weight: lighter;
  padding-left: 45px;
  background-image: url('../img/apple.png');
  background-repeat: no-repeat;
  background-position: 15px 7px;
  margin-left: 15px;
}
.menu-link-sandwich {
  width: 10px;
  background-image: url('../img/sandwich.png');
  background-repeat: no-repeat;
  background-position: center;
}
.logo {
  text-transform: uppercase;
  justify-content: center;
  display: flex;
}
.logo span {
  font-family: "LatoBold";
}
.menu-left,
.logo,
.menu-right {
  flex: 1 0;
}
.menu-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-left {
  display: flex;
  justify-content: flex-start;
}
.menu-link-help {
  color: #8c8f94;
}
.jumb {
  text-align: center;
  padding: 0 30px;
  width: 800px;
}
.jumb-header {
  margin-top: 60px;
  font-size: 62px;
  font-family: 'Varela Round', sans-serif;
}
.jumb p {
  font-size: 20px;
  color: #8c8f94;
  margin-bottom: 60px;
}
.jumb a {
  text-decoration: none;
  color: rgb(38, 39, 45);
  border: 1px solid #d9dcde;
  line-height: 40px;
  font-size: 16px;
  padding: 10px 20px;
}
.jumb a span {
  padding-right: 10px;
  font-size: 12px;
}

/* Footer */
footer {
  height: 900px;
}
.footer-subscribe-block {
  width: 1200px;
  text-align: center;
  margin: auto;
  padding: 80px 10px;
  border-bottom: 1px solid #f4f4f4;
}
footer .block-headers {
  padding-bottom: 45px;
  margin: 0;
}
.subscribe-form {
  position: relative;
  width: 570px;
  border: 1px solid #d9dcde;
  margin: auto;
  line-height: 45px;
  text-align: left;
}
.subscribe-form input {
  line-height: 45px;
  margin-left: 30px;
  border: none;
  width: 360px;
  font-size: 16px;
}
.subscribe-form a {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 130px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  background-color: #6fc754;
  color: #fff;
}
.footer-subscribe-block p {
  color: #8c8f94;
  padding: 25px 10px;
}
